body {
	font-family: helvetica, arial, sans serif;
  background-color: #fff;
}

.specs {
  margin: 1em;
}

.circle {
  height: 4em;
  width: 20em;
  background-color: #4d4dff;
  border-radius: 6%;
  color: #fff;
}

#track {
  color: #000;
}
